{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is the Vehicle Registration Number (VRN) of the car you intend to charge?
      </h1>

      <form class="form" action="./check-address" method="post">

        <div class="govuk-form-group">
          <input class="govuk-input govuk-input--width-10" id="vrn-check" name="vrn-check" type="text" value="{{data['vrn-check']}}">
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
